<h1>Kittens</h1>
<div>
  <% @kittens.each do |k| %>
    <div>
      <strong><%= k.name %></strong>
      <%= link_to 'Kitten details', kitten_path(k) %>
      <%= button_to 'Delete kitten', k, method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

